# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# c extensions
*.so

# distribution / packaging
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints/

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# translations
*.mo

# mr Developer
.mr.developer.cfg
.project
.pydevproject

# rope
.ropeproject

# django stuff:
*.log
*.pot

# sphinx documentation
docs/_build/

# project specific
ideas/